body {
    display: block;
    background-color: floralwhite;
}

#selections {
    display: inline;
    font-size: 150%;
}

#selections select {
    height: 2em;
    font-size: 100%;
}

.entry {
    margin-top: 1em;
}

.entry a:link {
    color: black;
    text-decoration: none;
}

.entry a:visited {
    color: black;
}

.entry a:hover {
    color: cornflowerblue;
}

.entry a:active {
    color: black;
}

.entry a {
    font-size: 120%;
}
